<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Login</h1>
<div>
    email 기준으로 사용자 정보가 관리됩니다.
</div>
<div>
    <p><a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a></p>
    <p><a href="/oauth2/authorization/facebook" class="btn btn-success active" role="button">Facebook Login</a></p>
    <p><a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a></p>
</div>

</body>
</html>